html, body {
    height: 100%;
    font-family: Chandas, monospace;
}

html {
    display: table;
    margin: auto;
}

body {
    text-align: center;
}

#title {
    margin: 5px;
}

#btn {
    padding: 10px;
    margin: 10px;
}

.gridContainer2 {
    display: grid;
    height: 600px;
    width: 600px;
    grid-template-rows: repeat(16, auto);
    grid-template-columns: repeat(16, auto);
}

.square {
    background-color: #c1c1c1;
    margin: 1px;
}

.square2 {
    background-color: #c25050;
    margin: 1px;
}